html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#09c6f9, #effbff);
}

.white-text{
    color: white;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 70px;
}

.list-group-item {
    padding: 10px 20px;
    margin-bottom: 25px;
}

.upvote{

}

.downvote{
    
}
/* Thick red border */
hr {
    border: 1px solid whitesmoke;
  }
  