{% extends 'base.html' %}


{% block content %}
<!--Entire View Port-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <!--Left Side of View Port-->
      <div class="container-fluid">
        <div class="row">
          <!--Stores Content-->
          <div class="col-12 col-sm-6 col-md-8">
            <div class="col-12 white-text">
                <h1>Tweet Generator</h1>
                <hr>
                <h2>{{sentence}}</h2>
                <form action='/'>
                    <button type="submit" name="generate" class="btn btn-light">Generate! &#x2606;</button>
                    <button type="submit" name="sentence length" class="btn btn-light">Enter Sentence Length</button>
                    <button type="button" class="btn btn-outline-light">Light</button>
                    <button type="submit" name="favorited" class="btn btn-light">&#x2606; Favorite</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Right Side of View Port-->
    <div class="col-md-4">
      <div class="container-fluid">
        <div class="row"> 
          <!--Favorites Display--> 
          <div class="col-6 col-md-4 white-text justify-content-end">
            <h1>Favorites</h1>
            <!--Items-->
            <div class="list-group">
                <a href="#" class="list-group-item rounded list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <small>Donec id elit non mi porta.</small>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
            <!--Stores Content-->
            <div class="col-12 col-sm-6 col-md-8 ">
                <div class="row h100">
                    <div class="col-12 white-text">
                        <h1>Tweet Generator</h1>
                        <hr>
                        <h2>{{sentence}}</h2>
                        <form action='/'>
                            <button type="submit" name="generate" class="btn btn-light">Generate! &#x2606;</button>
                            <button type="submit" name="sentence length" class="btn btn-light">Enter Sentence Length</button>
                            <button type="button" class="btn btn-outline-light">Light</button>
                            <button type="submit" name="favorited" class="btn btn-light">&#x2606; Favorite</button>
                        </form>
                    </div>
                </div>
            </div>

            <!--Displays Favorited Items-->
            <div class="col-6 col-md-4 justify-content-end">
                <div class="row">
                    <div class="col white-text">
                            <h1>Favorites</h1>
                            <div class="list-group">
                                <a href="#" class="list-group-item rounded list-group-item-action flex-column align-items-start">
                                  <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small>3 days ago</small>
                                  </div>
                                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                  <small>Donec id elit non mi porta.</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                  <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small class="text-muted">3 days ago</small>
                                  </div>
                                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                  <small class="text-muted">Donec id elit non mi porta.</small>
                                  <small>&#9650; &#9660;</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                  <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small class="text-muted">3 days ago</small>
                                  </div>
                                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                  <small class="text-muted">Donec id elit non mi porta.</small>
                                </a>
                              </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group mx-sm-3 mb-2">
            <label for="sel1" class="sr-only">Select Sentence Length:</label>
            <select class="form-control" id="sel1" placeholder="Enter Sentence Length" onchange="this.form.submit();">
                {% for i in range(100)%}
                <option value={{i}}> {{i}} </option>
                {% endfor %}
            </select>
            </div>
        </div>
    </div>
</div>

{% endblock %}