{% extends 'base.html' %}


{% block content %}
<div class="container-fluid">
    <div class="row">
            <!--Stores Content-->
            <div class="col-12 col-sm-6 col-md-8 ">
                <div class="row h100">
                    <div class="col-12">
                        <h1>Tweet Generator</h1>
                        <hr>
                        <h2>Generates sentences of a given length.</h2>
                    </div>
                </div>
            </div>

            <!--Displays Favorited Items-->
            <div class="col-6 col-md-4 justify-content-end">
                <div class="row">
                    <div class="col">
                            <h1>Favorites</h1>
                            <button type="button" class="btn btn-light rounded btn-block btn-xl">ccia deserunt mollit anim id est laborum</button>
                    </div>
                </div>

                <h1>Favorites</h1>
            </div>
    </div>

    <div class="container-fluid text-center text-color"> 
        <h1>Tweet Generator</h1>
        <h2>Generates sentences of a given length.</h2>


    <div class="container-fluid justify-content-center"><!-- Search form -->
        <button type="submit" class="btn btn-light">Generate!</button>
    </div>

    <div class="container-fluid text-center text-color">
        <span>{{sentence}}</span>
    </div>
    </div>
</div>

{% endblock %}