{% extends 'base.html' %}


{% block content %}
<!--Entire View Port-->

<div class="container-fluid">
  <div class="row">
    <!--Left Side of View Port-->
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="row-fluid">
          <!--Stores Content-->
          <div class="col-12 white-text">
            <div class="row">
              <div class="col-md-4">
                  <h1>Tweet Generator</h1>
              </div>
              <div class="col-md-8 form-group">
              <form action='/' class="row justify-content-center">
                  <div class="col-xs-3 p-2">
                    <button type="submit" name="generate" class="btn btn-light">Generate! &#x2606;</button>
                  </div>
                  <div class="col-xs-3 p-2">
                    <button type="submit" name="favorite" class="btn btn-light">&#x2606; Favorite</button>
                    </div>

                    <div class="col-xs-4 form-inline p-2">
                    <label for="sentence">Sentence Length: </label>
                    <input type="number" name="sentence length"class="form-control" id="sentence" placeholder="10">
                    </div>
                </form>
                </div>
                </div>
                <hr>
                <h2>{{sentence}}</h2>
          </div>
        </div>
      </div>
    </div>

    <!--Right Side of View Port-->
    <div class="col-md-4 border-left">
      <div class="container-fluid">
        <div class="row "> 
          <!--Favorites Display--> 
          <div class="col-12 white-text justify-content-end">
            <h1>Favorites</h1>
            <!--Items-->
            
            <div class="list-group">
              {% for favorite in favorites %}
                <a href="#" class="list-group-item rounded list-group-item-action flex-column align-items-start border fav-border">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                  </div>
                  <p class="mb-1">{{favorite.sentence}}</small>
                  <button class="up-vote btn btn-light">&#9650; {{favorite.upvotes}}</button>
                  <button class="down-vote btn btn-light">&#9660; {{favorite.downvotes}}</button>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


{% endblock %}