{% extends 'base.html' %}


{% block content %}
   
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Navbar</span>
</nav>

<br>

<div class="container-fluid">

    <div class="row justify-content-center">
        <!--Character1-->
        <div class="col-3">
            <img src="static/imgs/stefan_still.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <!--Character2-->
        <div class="col-3">
            <img src="static/imgs/alaric_still.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <!--Character3-->
        <div class="col-3">
            <img src="static/imgs/caroline_still.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <!--Character4-->
        <div class="col-3">
                <img src="static/imgs/elena_still.jpg" class="img-fluid" alt="Responsive image">
        </div>
    <hr>
    <div class="row justify-content-center">
        <!--Character5-->
        <div class="col-3">
                <img src="static/imgs/jeremy_still.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <!--Character6-->
        <div class="col-3">
                <img src="static/imgs/damon_still.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <!--Character7-->
        <div class="col-3">
                <img src="static/imgs/bonnie_still.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    </div>
</div>
{% endblock %}