{% extends 'base.html' %}


{% block content %}
   

<br>
<form action='/' method="POST">
<div class="container-fluid">

    <div class="row justify-content-center">
        <!--Character1-->
        <div class="col-3 container">
            <!--Portrait-->
            <button class="btn-fluid rounded-pill" type="submit" value="stefan" name="char">
                <img src="static/imgs/stefan_still.jpg" class="img-fluid rounded-pill" alt="Responsive image">
                <div class="carousel-caption">
                    <h2>Stefan Salvatore</h2>
                </div>
            </button>
        </div>
        <!--Character2-->
        <div class="col-3 container">
                          <!--Portrait-->
            <button class="btn-fluid rounded-pill" type="submit" value="alaric" name="char">
                <img src="static/imgs/alaric_still.jpg" class="img-fluid rounded-pill" alt="Responsive image">
                <div class="carousel-caption">
                    <h2>Alaric Saltzman</h2>
                </div>
            </button>
        </div>
        <!--Character3-->
        <div class="col-3 container">

            <!--Portrait-->
            <button class="btn-fluid rounded-pill" type="submit" value="caroline" name="char">
                <img src="static/imgs/caroline_still.jpg" class="img-fluid rounded-pill" alt="Responsive image">
                <div class="carousel-caption">
                    <h2>Caroline Forbes</h2>
                </div>
            </button>
        </div>
        <!--Character4-->
        <div class="col-3 container">

            <!--Portrait-->
            <button class="btn-fluid rounded-pill" type="submit" value="elena" name="char">
                <img src="static/imgs/elena_still.jpg" class="img-fluid rounded-pill" alt="Responsive image">
                <div class="carousel-caption">
                    <h2>Elena Gilbert</h2>
                </div>
           </button>
            </div>
    <br>
    <div class="row justify-content-center">
        <!--Character5-->
        <div class="col-3">
            <!--Portrait-->
            <button class="btn-fluid rounded-pill" type="submit" value="jeremy" name="char">
                <img src="static/imgs/jeremy_still.jpg" class="img-fluid rounded-pill" alt="Responsive image">
                <div class="carousel-caption">
                    <h2>Jeremy Gilbert</h2>
                </div>
           </button>
            </div>
        <!--Character6-->
        <div class="col-3">
            <!--Portrait-->
            <button class="btn-fluid rounded-pill" type="submit" value="damon" name="char">
                <img src="static/imgs/damon_still.jpg" class="img-fluid rounded-pill" alt="Responsive image">
                <div class="carousel-caption">
                    <h2>Damon Salvatore</h2>
                </div>
           </button>
        </div>
        <!--Character7-->
        <div class="col-3">
                    <!--Portrait-->
        <button class="btn-fluid rounded-pill" type="submit" value="bonnie" name="char">
            <img src="static/imgs/bonnie_still.jpg" class="img-fluid rounded-pill" alt="Responsive image">
            <div class="carousel-caption">
                <h2>Bonnie Bennett</h2>
            </div>
        </button>
        </div>
    </div>
    </div>
</div>

</form>
{% endblock %}