{% extends 'base.html' %}


{% block content %}
<br>
<div class="row">
    <!--Left Side of View Port-->
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="row-fluid">
          <!--Stores Content-->
          <div class="col-12 white-text">
            <div class="row">
                <div class="col-md-4 text-center">
                  <h1>{{character['name']}}</h1>
                    <!--Portrait-->
                    <button class="btn-fluid rounded-pill" type="button">
                    <img src="{{ url_for('static', filename=character.img_path) }}" class="img-fluid rounded-pill" alt="Responsive image">
                    </button>
                </div>
                <!-- Middle of viewport -->
            <div class="col-md-8">
            <form action="/character/{{character['name']}}" method="POST">
                    <div class="row text-center">
                      <div class="col-12 text-center">
                        <input type="hidden" name="sentence" value="{{sentence}}" />
                        <h3>{{sentence}}</h3>
                      </div>
                  </div>
                    <div class="row justify-content-center">


                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <button type="submit" class="btn btn-primary">Generate Sentence</button>
                          <button type="submit" name="favorite" class="btn btn-primary">Favorite &#x2606;</button>
                        </div>
                        <input class="form-control" type="number" name="order" min="1" max="10" value="2" default="2" />
                      </div>

                    </div>
                </form>
                </div>
                </div>
          </div>
        </div>
      </div>
    </div>

    <!--Right Side of View Port-->
    <div class="col-md-4 border-left">
      <div class="container-fluid">
        <div class="row "> 
          <!--Favorites Display--> 
          <div class="col-12 justify-content-end">
            <div class="row white-text">
              <h1>Favorites</h1>
            </div>
            <!-- Favorited items -->
            {% if favorites|length > 0 %}
            <ul class="list-group">
                {% for favorite in favorites %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{favorite.sentence}}
                  <span class="badge badge-primary badge-pill">Chain Order: {{favorite.order}}</span>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

{% endblock %}