{% extends 'base.html' %}


{% block content %}
<br>
<div class="row">
    <!--Left Side of View Port-->
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="row-fluid">
          <!--Stores Content-->
          <div class="col-12 white-text">
            <div class="row">
                <div class="col-md-4 text-center">
                  <h1>{{character['name']}}</h1>
                    <!--Portrait-->
                    <button class="btn-fluid rounded-pill" type="button">
                    <img src="{{character['img_path']}}" class="img-fluid rounded-pill" alt="Responsive image">
                    </button>
                </div>
                <!-- Middle of viewport -->
            <form action="/character/{{character['name']}}" method="POST">
              <div class="col-md-8 text-center">
                  <div class="row text-center">
                      <div class="col">
                        <h1>Col 8</h1>
                      </div>
                    </div>
                    <div class="row text-center">
                      <div class="col">
                        <input type="hidden" name="sentence" value="{{sentence}}" />
                        <h2>{{sentence}}</h2>
                      </div>
                  </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <button type="submit" class="btn-fluid btn-primary rounded-pill border border-primary rounded-lg">Generate Sentence</button>
                        </div>
                        <div class="col">
                            <button type="submit" name="favorite" class="btn-fluid btn-primary rounded-pill border border-primary rounded-lg">Favorite &#x2606;</button>
                        </div>
                        <div class="col">
                            <span>
                                <label class="btn-fluid btn-primary rounded-pill border border-primary rounded-lg">
                                    Chain Order: 
                                    <input class="rounded-pill" type="number" name="order" min="1" max="10" value="2" /> 
                                </label>
                            </span>
                        </div>
                    </div>
                </form>
                </div>
                </div>
          </div>
        </div>
      </div>
    </div>

    <!--Right Side of View Port-->
    <div class="col-md-4 border-left">
      <div class="container-fluid">
        <div class="row "> 
          <!--Favorites Display--> 
          <div class="col-12 justify-content-end">
            <div class="row white-text">
              <h1>Favorites</h1>
            </div>
            <!-- Favorited items -->
            {% if favorites|length > 0 %}
            <ul class="list-group">
                {% for favorite in favorites %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{favorite.sentence}}
                  <span class="badge badge-primary badge-pill">Chain Order: {{favorite.order}}</span>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

{% endblock %}