{% extends 'base.html' %}


{% block content %}
<br>
<div class="row">
    <!--Left Side of View Port-->
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="row-fluid">
          <!--Stores Content-->
          <div class="col-12 white-text">
            <div class="row">
                <div class="col-md-4 text-center">

                  <h1>{{character['name']}}</h1>
                    <!--Portrait-->
                    <button class="btn-fluid rounded-pill" type="button">
                    <img src="{{ url_for('static', filename=character.img_path) }}" class="img-fluid rounded-pill" alt="Responsive image">
                    </button>

                    <hr>

                    <form action="/character/{{character['name']}}" method="POST">
                    <div class="btn-group btn-group-lg ">
                      <button type="submit" class="btn btn-outline-light btn-primary">Generate Sentence</button>
                      <button type="submit" name="favorite" class="btn btn-outline-light btn-primary">Favorite &#x2606;</button>
                  </div>

                
                </div>
                <!-- Middle of viewport TODO: Figure out why it wont center :(-->
            <div class="col-md-8  d-flex justify-content-center text-center align-middle">
                    <div class=" d-flex row justify-content-center text-center align-middle">
                      <div class="d-flex col-12 justify-content-center text-center align-middle">
                        <input type="hidden" name="sentence" value="{{sentence}}" />
                        <h3 class="d-flex justify-content-center align-middle text-center" >{{sentence}}</h3>
                      </div>
                  </div>
                </form>
                </div>
                </div>
          </div>
        </div>
      </div>
    </div>

    <!--Right Side of View Port-->
    <div class="col-md-4 border-left">
      <div class="container-fluid">
        <div class="row "> 
          <!--Favorites Display--> 
          <div class="col-12 justify-content-end">
            <div class="row white-text">
              <h1>Favorites</h1>
            </div>
            <!-- Favorited items -->
            {% if favorites|length > 0 %}
            <ul class="list-group list-group-flush">
                {% for favorite in favorites %}
                <li class="list-group-item">
                  {{favorite.sentence}}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

{% endblock %}